{
  "nickname": "IRCUser",
  "realname": "Access IRC User",
  "quit_message": "Access IRC - Leaving",
  "servers": [
    {
      "name": "Libera.Chat",
      "host": "irc.libera.chat",
      "port": 6667,
      "ssl": false,
      "verify_ssl": true,
      "autoconnect": false,
      "logging_enabled": false,
      "channels": [
        "#python",
        "#linux"
      ],
      "username": "",
      "password": "",
      "sasl": false
    },
    {
      "name": "ZNC Bouncer Example",
      "host": "bouncer.example.com",
      "port": 6697,
      "ssl": true,
      "verify_ssl": false,
      "autoconnect": false,
      "logging_enabled": false,
      "channels": [],
      "username": "myuser/libera",
      "password": "mypassword",
      "sasl": false
    }
  ],
  "sounds": {
    "enabled": true,
    "mention": "/usr/share/access-irc/sounds/mention.wav",
    "message": "/usr/share/access-irc/sounds/message.wav",
    "privmsg": "/usr/share/access-irc/sounds/privmsg.wav",
    "notice": "/usr/share/access-irc/sounds/notice.wav",
    "join": "/usr/share/access-irc/sounds/join.wav",
    "part": "/usr/share/access-irc/sounds/part.wav",
    "quit": "/usr/share/access-irc/sounds/quit.wav"
  },
  "ui": {
    "show_timestamps": true,
    "scrollback_limit": 1000,
    "announce_all_messages": false,
    "announce_mentions_only": true,
    "announce_joins_parts": false
  },
  "logging": {
    "log_directory": ""
  }
}
