{
  "nickname": "IRCUser",
  "realname": "Access IRC User",
  "quit_message": "Access IRC - Leaving",
  "servers": [
    {
      "name": "Libera.Chat",
      "host": "irc.libera.chat",
      "port": 6667,
      "ssl": false,
      "verify_ssl": true,
      "channels": [
        "#python",
        "#linux"
      ],
      "username": "",
      "password": "",
      "sasl": false
    },
    {
      "name": "ZNC Bouncer Example",
      "host": "bouncer.example.com",
      "port": 6697,
      "ssl": true,
      "verify_ssl": false,
      "channels": [],
      "username": "myuser/libera",
      "password": "mypassword",
      "sasl": false
    }
  ],
  "sounds": {
    "enabled": true,
    "mention": "access_irc/data/sounds/mention.wav",
    "message": "access_irc/data/sounds/message.wav",
    "privmsg": "access_irc/data/sounds/privmsg.wav",
    "notice": "access_irc/data/sounds/notice.wav",
    "join": "access_irc/data/sounds/join.wav",
    "part": "access_irc/data/sounds/part.wav",
    "quit": "access_irc/data/sounds/quit.wav"
  },
  "ui": {
    "show_timestamps": true,
    "announce_all_messages": false,
    "announce_mentions_only": true,
    "announce_joins_parts": false
  }
}
